{% extends "layout.html" %} {% block content %}
    <div class="container me-auto">
        <h1>Hello, welcome to Frequency fidelity!<h1>    
    </div>
    <div class="me-auto container">
        <div class="row">
            <div class="col-md-8">
            <h2>Forums</h2>
            {% for row in posts %}
            <div class="card">
                <div class="card-body me-auto">
                    <h4 class="card-title">{{ row[5] }}</h4>
                    <h6 class="card-title">date updated: {{ row[6] }}</h6>
                    <h6 class="card-title">date created: {{ row[0] }}</h6>
                </div>  
            </div>    
            {% endfor %}
            </div>
            <div class="col-md-4">
            <h2>Updated Forums</h2>
            {% for row in posts %}
            <div class="card">
                <div class="card-body me-auto">
                    <h4 class="card-title">{{ row[5] }}</h4>
                    <h6 class="card-title">date updated: {{ row[6] }}</h6>
                    <h6 class="card-title">date created: {{ row[0] }}</h6>
                </div>  
            </div>    
            {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}