{% extends "layout.html" %} {% block content %}
      <div class="container me-auto">
        <form action="/login.html" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input 
              type="email" 
              class="form-control" 
              name="eml"
              aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input 
              type="password" 
              class="form-control" 
              name="pswrd">
            </div>
            <button type="submit" class="btn btn-primary">login</button>
          </form>
      </div>
{% endblock %}